body{
		background-color: #2f4f4f;

}

div{
	border-radius: 5px;
	border: 2px solid black;
   	height: 100%;
  	width: 50%;
  	margin-left: 450px;
  	background-color: #008080;
}

ol.c {
  	list-style-type: upper-roman;
   	font-family: Arial, Helvetica, sans-serif;

}

table,
td {
    border: 1px solid #333;
    background-color: #4ddf9f;
    margin-left:auto;
    margin-right:auto;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
 
p{
	font-family: Arial, Helvetica, sans-serif;



}
